@media screen and (max-width: 1250px) and (min-width: 768px) {
    #main-header{
        font-size: 60pt;
        left:(64%/2);

    }

    table{
        border-spacing: 50px 25px ;
   
    }
    
    
}

@media screen and (max-width: 768px) and (min-width: 350px) {
    #main-header{
        font-size: 45pt;
        left:(54%/2);

    }
       table{
        border-spacing: 50px 25px ;

   
    }

    //fix javascript and table structure for table formatting.

}

@media screen and (max-width: 349px) and (min-width: 0px) {
    #main-header{
        top:30%;
        font-size: 40pt;
        left:(20%/2);
        //use javascript to align this in the middle  during all screen sizes using window listener

    }

    table{
        border-spacing: 20px 25px ;
       
    }

}