@media screen and (max-width: 1500px) and (min-width: 1251px) {



    .bg-menu p{
        margin-top:20%;
        }

        #mainMenu-letter{
            font-size:$mainMenu-header/1.1;
        }
        
        #mainMenu-letter2{
            font-size:$mainMenu-header/1.1;
        }
        
        #brackets{
            font-size: $mainMenu-header/1.1;
        }
}

@media screen and (max-width: 1250px) and (min-width: 768px) {


    table{
        border-spacing: 20px 20px ;
        width:50%;
   
    }

    %section-shared{
        background-color:$background;
        padding-bottom: 500px;
    }

    .bg-menu p{
        margin-top:20%;
        }

        #mainMenu-letter{
            font-size:$mainMenu-header/1.5;
        }
        
        #mainMenu-letter2{
            font-size:$mainMenu-header/1.5;
        }
        
        #brackets{
            font-size: $mainMenu-header/1.5;
        }
}

    


@media screen and (max-width: 768px) and (min-width: 450px) {
   
       table{
        border-spacing: 20px 25px ;
        border:1px solid rgba(255, 255, 255, .2)
         

    }

    #main-header{
        font-size: $mainMenu-header/1.5;
        padding-top:5%*2;
        
    }
    
    
    #mainMenu-letter{
        font-size:$mainMenu-header/1.5;
    }
    
    #mainMenu-letter2{
        font-size:$mainMenu-header/1.5;
    }
    
    #brackets{
        font-size: $mainMenu-header/1.5;
    }

    table{

        width:100%;
   
    }
    %section-shared{
        background-color:$background;
        padding-bottom: 1000px;
    }




    //fix javascript and table structure for table formatting.

}

@media screen and (max-width: 449px) and (min-width: 0px) {
  

    table{
        border-spacing: 20px 25px ;
        border:1px solid rgba(255, 255, 255, .2)
       
    }

    #main-header{
        font-size: $mainMenu-header/2;
        padding-top:25%;
        
    }
    
    
    #mainMenu-letter{
        font-size:$mainMenu-header/2.5;
    }
    
    #mainMenu-letter2{
        font-size:$mainMenu-header/2.5;
    }
    
    #brackets{
        font-size: $mainMenu-header/2.5;
    }

    .menu-header{
        font-size: $menu-header/1.5;
    
    }

    span{
        font-size: $menu-header+5;
    }

    table{

        width:100%;
   
    }
    %section-shared{
        background-color:$background;
        padding-bottom: 1000px;
    }




}