@media screen and (max-width: 1250px) and (min-width: 768px) {



    table{
        border-spacing: 50px 25px ;
   
    }

    %section-shared{
        background-color:$background;
        padding-bottom: 500px;
    }

    
}

@media screen and (max-width: 768px) and (min-width: 450px) {
   
       table{
        border-spacing: 50px 25px ;

    }

    #main-header{
        font-size: $mainMenu-header/1.5;
        padding-top:5%*2;
        
    }
    
    
    #mainMenu-letter{
        font-size:$mainMenu-header/1.5;
    }
    
    #mainMenu-letter2{
        font-size:$mainMenu-header/1.5;
    }
    
    #brackets{
        font-size: $mainMenu-header/1.5;
    }

    table{

        width:100%;
   
    }
    %section-shared{
        background-color:$background;
        padding-bottom: 850px;
    }




    //fix javascript and table structure for table formatting.

}

@media screen and (max-width: 449px) and (min-width: 0px) {
  

    table{
        border-spacing: 20px 25px ;
       
    }

    #main-header{
        font-size: $mainMenu-header/2;
        padding-top:25%;
        
    }
    
    
    #mainMenu-letter{
        font-size:$mainMenu-header/2.5;
    }
    
    #mainMenu-letter2{
        font-size:$mainMenu-header/2.5;
    }
    
    #brackets{
        font-size: $mainMenu-header/2.5;
    }

    .menu-header{
        font-size: $menu-header/1.5;
    
    }

    span{
        font-size: $menu-header+5;
    }

    table{

        width:100%;
   
    }
    %section-shared{
        background-color:$background;
        padding-bottom: 1000px;
    }




}