
th{
    font-size:16pt;
    width:100%;
}

td{
    color:$seconday-color;
    font-size:12pt;
}

p{
    color:$seconday-color;
    font-size:12pt;
    font-weight: lighter;
}

table{
    border-collapse: separate;
    border-spacing: 50px 25px ;
    text-align: left;   
    width:50%;
    float:left;
    z-index: 1;
    position: relative;  
}
