

@media screen and (max-width: 1250px) and (min-width: 768px) {



    .homepage-landing{

        height:110vh;
        width:100vw;

    }

    #homepage-header{
        width: 70%;

    }
    .homepage-headline{
        font-size:5vw;
        font-size:6.5vh;
        
    }

    .homepageheader-subtext{
        margin-top:3em;
        font-size:3.5vw;
        font-size:3.5vh;
    }
    
 
    #dishes .dish{
        width:50%;
        height:40rem;

      
    }

    #dishes .dish>div{
        height:40rem;

    }

    .dishes-header{
        position:relative;
        font-size:2.5em;
        margin:auto 0;
        text-align: center;
        top:1em;
    
    
    }
    
    .ingredients{
        width:80%;
        position:relative;
        font-size:1.5em;
        margin:auto 0;
        text-align: center;
        margin-left:10%;
        top:3.5em;
           

    }
    
    .ingredients span{
        font-size: 1.25em;

    }

    .reviews{
        height:275px;
    }

  
    #show-reviews{
        height:275px;
        width:90%;
   
    }

    .left .logo{
        left:15%;
        top:0px;
    }

    .strike.left{
        left:10%;
    
    }
    
    .strike.right{
    
        right:-10%;
      
    }
    
    .strike{
        width:80%;
    
    }
    .navbar-toggler{
        position: absolute;
        right:15px;
        top:25px;;  
    }
    .bg-light{
        padding-top:5vh;
    }

}


@media screen and (max-width: 768px) and (min-width: 450px) {


  
    .nav-link{
         color:white!important;
        border-bottom:none;
    }

    .nav-link:hover{
        color:rgb(57, 196, 57)!important;
    }
    button.navbar-toggler{
        background-color:none;
        border:solid 1px white!important;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(57,196,57, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
    }



    .homepage-landing{

        height:110vh;
        width:100vw;

    }
    #homepage-header{
        width: 90%;

    }
    .homepage-headline{
        font-size:7.5vw;
        font-size:7.5vh;
    }

    .homepageheader-subtext{
        margin-top:2vh;
        font-size:3.5vw;
        font-size:2.5vh;
    }


    #dishes .dish{
        width:100%;
        height:60rem;

      
    }

    #dishes .dish>div{
        height:60rem;

    }

    .dishes-header{
        top:1.5em;
        font-size:3.5em;
        margin-left:1em;
        margin-right:1em
    
    }
    
    .ingredients{
        width:80%;
        margin-left:10%;
        top:5em;
        font-size: 1.75em;

    }
    
    .ingredients span{
        font-size: 1.5em;

    }

    .reviews.left{
        display: none;
        width:0px;
     }
     .reviews.right{
         width:100%;
     }
 
     .reviews{
         height:250px;
         width:100%;
     }
     #show-reviews{
         height:250px;
         width:100%;
         left:0%;
         text-align: center
    
     }

     
     .strike.left{
        left:10%;

    }

    .strike.right{
        right:-10%;
    }

    .strike{
        width:80%;
    }
    .nav-item span{
        display: none;
    }

    #main-nav{
        letter-spacing: 0px;
    }
    .navbar-toggler{
        position: absolute;
        right:15px;
        top:25px;;  
    }
    .bg-light{
        padding-top:12vh;
    }

}


@media screen and (max-width: 450px) and (min-width: 0px) {
    .dish1{
        background-image:url("../images/mediadish1.jpg");
        width:25%;
        border:solid white 1.5px;
    }
    
    
    
    .dish2{
        background-image:url("../images/mediadish2.jpg");
        width:25%;
        border:solid white 1.5px;
    }
    
    .dish3{
    
        background-image:url("../images/mediadish3.jpg");
        width:25%;
        border:solid white 1.5px;
    }
    
    .dish4{
        background-image:url("../images/mediadish4.jpg");
        width:25%;
        border:solid white 1.5px;
    }
    
    .dish5{
        background-image:url("../images/mediadish5.jpg");
        width:25%;
        border:solid white 1.5px;
        
    }
    
    .dish6{
        background-image:url("../images/mediadish6.jpg");
        width:25%;
        border:solid white 1.5px;
       
    }
    
    .dish7{
        background-image:url("../images/mediadish7.jpg");
        width:25%;
        border:solid white 1.5px;
    }
    
    .dish8{
        background-image:url("../images/mediadish8.jpg");
        width:25%;
        
     
    
    }

   

    
    .homepage-landing{
        height:120vh;
        width:100vw;

    }

    .homepage-landing img{
        height:120vh; 
    }


    #homepage-header{
        width: 90%;


    }
    .homepage-headline{
        font-size:7.5vw;
        font-size:6vh;
    }

    .homepageheader-subtext{
        margin-top:2vh;
        font-size:3.5vw;
        font-size:2.5vh;
    }
    
    #main-nav{
        background-color:rgba(5, 5, 5, 0.7)!important;
 
    }
    
    .nav-link{
        color:white!important;
        border-bottom:none;
    } 

    .nav-link:hover{
        color:rgb(57, 196, 57)!important;
    }

    button.navbar-toggler{
        background-color:none;
        border:solid 1px white!important;
    
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(57,196,57, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
    }

 
    
    #dishes .dish{
        width:100%;
        height:60rem;

      
    }

    #dishes .dish>div{
        height:60rem;
        width:100%;

    }

    .dishes-header{
        top:0em;
        font-size:2.5em;
        width:50%;
        text-align: center;
        margin-left:25%;
        
    }

    #dishes .dish>div{
        position: relative;
        height:6em;
        bottom:-28em;
        border:none;
    }

    #dishes .dish:nth-child(8n+2)>div,
    #dishes .dish:nth-child(8n+4)>div,
    #dishes .dish:nth-child(8n+5)>div,
    #dishes .dish:nth-child(8n+7)>div{
    background: black;
    color:white;
    border:none;
    width:100%;
    height:6em;
}

    
    .ingredients{
        display:none;

    }
    
    .ingredients span{
        display:none;

    }


    .reviews.left{
       display: none;
       width:0px;
    }
    .reviews.right{
        width:100%;
    }

    .reviews{
        height:375px;
        width:100%;
    }
    #show-reviews{
        height:375px;
        width:100%;
        left:0%;
        text-align: center
   
    }
    .strike.left{
        left:10%;
    
    }
    
    .strike.right{
        right:-10%;
      
    }
    
    .strike{
        width:80%;
        top:-65%;
    
    }
    .nav-item span{
        display: none;
    }

    #main-nav{
        letter-spacing: 0px;
    }
    .navbar-toggler{
        position: absolute;
        right:15px;
        top:25px;;  
    }
    .bg-light{
        padding-top:12vh;
    }


   

} 


@media screen and (max-width: 350px) and (min-width: 0px) {
    
    .homepage-landing{

        height:110vh;
        width:100vw;

    }

    #homepage-header{
        width: 90%;
        top:16rem;

    }
    .homepage-headline{
        font-size:7.5vw;
        font-size:4.5vh;
    }

    .homepageheader-subtext{
        margin-top:4em;
        font-size:3.5vw;
        font-size:2.5vh;
    }


    .reviews.left{
        display: none;
        width:0px;
     }
     .reviews.right{
         width:100%;
     }
 
     .reviews{
         height:425px;
         width:100%;
     }
     #show-reviews{
         height:425px;
         width:100%;
         left:0%;
         text-align: center
    
     }

     #dishes .dish{
        width:100%;
        height:60rem;

      
    }

    #dishes .dish>div{
        height:60rem;
        width:100%;

    }

    .dishes-header{
        top:0em;
        font-size:2.5em;
        width:80%;
        text-align: center;
        margin-left:10%;
        
    }

    #dishes .dish>div{
        position: relative;
        height:6em;
        bottom:-28em;
        border:none;
    }

    #dishes .dish:nth-child(8n+2)>div,
    #dishes .dish:nth-child(8n+4)>div,
    #dishes .dish:nth-child(8n+5)>div,
    #dishes .dish:nth-child(8n+7)>div{
    background: black;
    color:white;
    border:none;
    width:100%;
    height:6em;
}
    
    .ingredients{
       display: none;

    }
    
    .ingredients span{
        display: none;


    }

     .strike.left{
        left:10%;
    
    }
    
    .strike.right{
        right:-10%;
      
    }
    
    .strike{
        width:80%;
        top:-25px;
    
    }

    .feature{
        font-size:16pt;
    }
    .nav-item span{
        display: none;
    }

    #main-nav{
        letter-spacing: 0px;
    }
    .navbar-toggler{
        position: absolute;
        right:15px;
        top:25px;;  
    }

   .bg-light{
        padding-top:12vh;
    }

}