.menu-drinks, .menu-entree, .menu-appetizers {
  background-color: black;
  padding-bottom: 33%;
}

.bg-drinks, .bg-entree, .bg-appetizer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 50vh;
  z-index: -1;
  background-color: black;
}

body, html {
  font-family: "Julius Sans One", "sans-serif";
  color: #39c439;
}

.bg-appetizer {
  background-image: url("../images/appetizer.jpg");
}

.bg-entree {
  background-image: url("../images/burger.jpg");
}

.bg-drinks {
  background-image: url("../images/drinks.jpg");
}

.overlay {
  height: 50vh;
  background-color: black;
  position: absolute;
  right: -30%;
  top: 85%;
  display: table;
  width: 160%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

#main-header {
  font-size: 88pt;
  color: white;
  padding-top: 5%;
  text-align: center;
}

span {
  color: #39c439;
  font-size: 40pt;
}

#mainMenu-letter {
  color: #39c439;
  font-size: 88pt;
  background-color: white;
}

#mainMenu-letter2 {
  color: #39c439;
  font-size: 88pt;
  background-color: black;
}

#brackets {
  color: white;
  font-size: 88pt;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.menu-header {
  position: relative;
  font-size: 30pt;
  text-align: center;
  bottom: 40px;
  color: white;
}

th {
  font-size: 16pt;
  width: 100%;
}

td {
  color: white;
  font-size: 12pt;
}

p {
  color: white;
  font-size: 12pt;
  font-weight: lighter;
}

table {
  border-collapse: separate;
  border-spacing: 50px 25px;
  text-align: left;
  width: 50%;
  background-color: red;
  float: left;
}

footer {
  padding-top: 25px;
  color: white;
  text-align: center;
  padding-bottom: 25px;
  clear: both;
  background-image: linear-gradient(rgba(57, 196, 57, 0.9), rgba(0, 0, 0, 0.9)), url("../images/skyline.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1250px) and (min-width: 768px) {
  table {
    border-spacing: 50px 25px;
  }

  .menu-appetizers, .menu-entree, .menu-drinks {
    background-color: black;
    padding-bottom: 500px;
  }
}
@media screen and (max-width: 768px) and (min-width: 450px) {
  table {
    border-spacing: 50px 25px;
  }

  #main-header {
    font-size: 58.6666666667pt;
    padding-top: 10%;
  }

  #mainMenu-letter {
    font-size: 58.6666666667pt;
  }

  #mainMenu-letter2 {
    font-size: 58.6666666667pt;
  }

  #brackets {
    font-size: 58.6666666667pt;
  }

  table {
    width: 100%;
  }

  .menu-appetizers, .menu-entree, .menu-drinks {
    background-color: black;
    padding-bottom: 850px;
  }
}
@media screen and (max-width: 449px) and (min-width: 0px) {
  table {
    border-spacing: 20px 25px;
  }

  #main-header {
    font-size: 44pt;
    padding-top: 25%;
  }

  #mainMenu-letter {
    font-size: 35.2pt;
  }

  #mainMenu-letter2 {
    font-size: 35.2pt;
  }

  #brackets {
    font-size: 35.2pt;
  }

  .menu-header {
    font-size: 20pt;
  }

  span {
    font-size: 35pt;
  }

  table {
    width: 100%;
  }

  .menu-appetizers, .menu-entree, .menu-drinks {
    background-color: black;
    padding-bottom: 1000px;
  }
}

/*# sourceMappingURL=menu.css.map */
