$font-style: 'Julius Sans One', 'sans-serif';
$primary-color: rgb(57, 196, 57);
$seconday-color:white;
$background: black;
$menu-header: 30pt;
$mainMenu-header: 88pt;


// sass --watch menu.scss menu.css

%section-shared{
    background-color:$background;
    padding-bottom: 33%;
   
}

%backgroundImg{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    height:50vh;
    z-index: -1;
    background-color:$background;
}

// @mixin menu-radius($radius){
//     -webkit-transform: $radius;
//     -ms-transform: $radius;
//     transform: $radius;
// }

//   .for sections later { 
//       @include menu-radius(rotate(30deg)); 
//     }



body, html{
    font-family:$font-style;
    color:$primary-color;
   
}

.bg-appetizer{
    background-image:url('../images/appetizer.jpg');
    @extend %backgroundImg;

}
.bg-entree{
    background-image:url('../images/burger.jpg');
    @extend %backgroundImg;
}
.bg-drinks{
    background-image:url('../images/drinks.jpg');
    @extend %backgroundImg;
}

.overlay{
    height:50vh;
    background-color:$background;
    position: absolute;
    right:-30%;
    top:85%;
    display: table;
    width:160%;
    border-top-left-radius:100%;
    border-top-right-radius:100%;
}

#main-header{
    font-size: $mainMenu-header;
    color: $seconday-color;
    padding-top:5%;
    text-align: center;
    
}

span{
    color:$primary-color;
    font-size: $menu-header+10;
}

#mainMenu-letter{
    color:$primary-color;
    font-size:$mainMenu-header;
    background-color:white;
}

#mainMenu-letter2{
    color:$primary-color;
    font-size:$mainMenu-header;
    background-color:black;
}

#brackets{
    color:$seconday-color;
    font-size: $mainMenu-header;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.menu-header{
    position: relative;
    font-size: $menu-header;
    text-align: center;
    bottom:40px;
    color:$seconday-color;

}


.menu-appetizers{
    @extend %section-shared;
}


.menu-entree{
    @extend %section-shared;
}


.menu-drinks{
    @extend %section-shared;
}
@import 'table';

@import 'footer';

@import 'menumedia';
