.menu-drinks, .menu-entree, .menu-appetizers {
  background-color: black;
  overflow: auto;
}

.bg-drinks, .bg-entree, .bg-appetizer, .bg-menu {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 50vh;
  background-color: black;
}

body, html {
  font-family: "Julius Sans One", "sans-serif";
  color: #39c439;
}

.loader img {
  width: 75px;
}

.bg-menu {
  background-image: url("../images/group-3.jpg");
}

.bg-appetizer {
  background-image: url("../images/appetizer.jpg");
  margin-top: 25%;
}

.bg-entree {
  background-image: url("../images/burger.jpg");
}

.bg-drinks {
  background-image: url("../images/drinks.jpg");
}

.overlay {
  height: 50vh;
  background-color: black;
  position: absolute;
  right: -30%;
  top: 85%;
  display: table;
  width: 160%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

#underheader-overlay {
  height: 100vh;
  background-color: black;
  position: absolute;
  right: -50%;
  top: 85%;
  display: table;
  width: 200%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  margin-bottom: 200px;
}

.happyhour p {
  position: relative;
  width: 50%;
  color: white;
  font-size: 40pt;
  text-align: center;
  margin-left: 25%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  z-index: 1;
}

#happy {
  color: #39c439;
}

#header-overlay {
  height: 50vh;
  width: 100%;
  background-color: #39c439;
  position: absolute;
  display: table;
  opacity: 0.6;
  top: 0px;
  left: 0px;
}

#main-header {
  position: relative;
  width: 50%;
  font-size: 88pt;
  color: white;
  padding-top: 5%;
  text-align: center;
  border-bottom: 1px solid white;
  margin-left: 25%;
  z-index: 1;
}

span {
  color: #39c439;
  font-size: 40pt;
}

#dot {
  font-size: 20pt;
  color: black;
}

#mainMenu-letter {
  color: black;
  font-size: 88pt;
}

#mainMenu-letter2 {
  color: white;
  font-size: 88pt;
}

#brackets {
  color: white;
  font-size: 88pt;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.menu-header {
  position: relative;
  font-size: 30pt;
  text-align: center;
  color: white;
  z-index: 1;
  padding-bottom: 10%;
}

th {
  font-size: 16pt;
  width: 100%;
}

td {
  color: white;
  font-size: 12pt;
}

p {
  color: white;
  font-size: 12pt;
  font-weight: lighter;
}

table {
  border-collapse: separate;
  border-spacing: 50px 25px;
  text-align: left;
  width: 50%;
  float: left;
  z-index: 1;
  position: relative;
}

footer {
  padding-top: 25px;
  color: white;
  text-align: center;
  padding-bottom: 25px;
  clear: both;
  background-image: linear-gradient(rgba(57, 196, 57, 0.9), rgba(0, 0, 0, 0.9)), url("../images/skyline.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1500px) and (min-width: 1300px) {
  #main-header {
    width: 80%;
    font-size: 88pt;
    padding-top: 5%;
    margin-left: 10%;
  }

  #mainMenu-letter {
    font-size: 80pt;
  }

  #mainMenu-letter2 {
    font-size: 80pt;
  }

  #brackets {
    font-size: 80pt;
  }
}
@media screen and (max-width: 1299px) and (min-width: 900px) {
  table {
    border-spacing: 20px 20px;
    width: 50%;
  }

  .menu-appetizers, .menu-entree, .menu-drinks {
    background-color: black;
  }

  #main-header {
    width: 80%;
    font-size: 88pt;
    padding-top: 5%;
    margin-left: 10%;
  }

  .happyhour p {
    margin-top: 0%;
    position: relative;
    top: 40%;
    font-size: 30pt;
  }

  #mainMenu-letter {
    font-size: 62.8571428571pt;
  }

  #mainMenu-letter2 {
    font-size: 62.8571428571pt;
  }

  #brackets {
    font-size: 62.8571428571pt;
  }
}
@media screen and (max-width: 1299px) and (min-width: 768px) {
  table {
    border-spacing: 20px 20px;
    width: 50%;
  }

  .menu-appetizers, .menu-entree, .menu-drinks {
    background-color: black;
  }

  #main-header {
    width: 80%;
    font-size: 88pt;
    padding-top: 5%;
    margin-left: 10%;
  }

  .happyhour p {
    margin-top: 0%;
    font-size: 30pt;
    position: relative;
    top: 55%;
  }

  #mainMenu-letter {
    font-size: 62.8571428571pt;
  }

  #mainMenu-letter2 {
    font-size: 62.8571428571pt;
  }

  #brackets {
    font-size: 62.8571428571pt;
  }
}
@media screen and (max-width: 899px) and (min-width: 768px) {
  table {
    border-spacing: 20px 20px;
    width: 50%;
  }

  .menu-appetizers, .menu-entree, .menu-drinks {
    background-color: black;
  }

  #main-header {
    width: 80%;
    font-size: 88pt;
    padding-top: 5%;
    margin-left: 10%;
  }

  .happyhour p {
    position: relative;
    top: 55%;
    font-size: 30pt;
  }

  #mainMenu-letter {
    font-size: 62.8571428571pt;
  }

  #mainMenu-letter2 {
    font-size: 62.8571428571pt;
  }

  #brackets {
    font-size: 62.8571428571pt;
  }

  span {
    font-size: 32pt;
  }
}
@media screen and (max-width: 768px) and (min-width: 552px) {
  table {
    border-spacing: 20px 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
  }

  #main-header {
    width: 100%;
    font-size: 88pt;
    padding-top: 5%;
    margin-left: 0%;
  }

  .happyhour p {
    margin-top: 0%;
    position: relative;
    top: 60%;
    font-size: 20pt;
  }

  #mainMenu-letter {
    font-size: 48.8888888889pt;
  }

  #mainMenu-letter2 {
    font-size: 48.8888888889pt;
  }

  #brackets {
    font-size: 48.8888888889pt;
  }

  .menu-appetizers, .menu-entree, .menu-drinks {
    background-color: black;
  }

  span {
    font-size: 32pt;
  }
}
@media screen and (max-width: 551px) and (min-width: 0px) {
  table {
    border-spacing: 20px 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
  }

  #main-header {
    width: 100%;
    font-size: 88pt;
    padding-top: 5%;
    margin-left: 0%;
  }

  .happyhour p {
    margin-top: 0%;
    position: relative;
    top: 55%;
    font-size: 14pt;
  }

  #mainMenu-letter {
    font-size: 25.1428571429pt;
  }

  #mainMenu-letter2 {
    font-size: 25.1428571429pt;
  }

  #brackets {
    font-size: 25.1428571429pt;
  }

  .menu-header {
    font-size: 30pt;
  }

  span {
    font-size: 30pt;
  }

  .menu-appetizers, .menu-entree, .menu-drinks {
    background-color: black;
  }
}

/*# sourceMappingURL=menu.css.map */
