$font-style: 'Julius Sans One', 'sans-serif';
$primary-color: rgb(57, 196, 57);
$background: black;
$menu-header: 20pt;


// sass --watch menu.scss menu.css

%section-shared{
    background-color:$background;
    padding-bottom: 100px;
    // border-top-left-radius:50%;
    // border-top-right-radius:50%;
    // margin-top:-10px;
    // z-index: 5;
    // overflow: hidden;
}

// @mixin menu-radius($radius){
//     -webkit-transform: $radius;
//     -ms-transform: $radius;
//     transform: $radius;
// }

//   .for sections later { 
//       @include menu-radius(rotate(30deg)); 
//     }



body, html{
    font-family:$font-style;
    color:$primary-color;
   
}

.entreeBG-image{
    background-image:url('../images/burger.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    height:50vh;
        border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    background-color:$background;

}

.overlay{
    height:50vh;
    background-color:$background;
    position: absolute;
    left:0;
    top:0;
    z-index: -1;
    display: table;
    width: 110vw;
    height:110vh;

}

#main-header{
    font-size: 40pt;
}

.menu-header{
    font-size: $menu-header;
}

.menu-entree{
    @extend %section-shared;
}

.menu-appetizers{
    @extend %section-shared;
}

.menu-drinks{
    @extend %section-shared;
}

th{
    font-size:16pt;

    background-color:rgb(111, 0, 255);
    width:100%;
}

td{
    font-size:14pt;
    background-color:rgb(255, 0, 212);
    width:100%;
}

// set up table css in a partial and import it
tr{
   width:100%;
   background-color:red;
   text-align: left;
}

@import 'footer';
