body, html{
    margin-top:-10px;
    font-family: 'Julius Sans One', sans-serif;
}



.homepage-landing{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/group-1.jpg");
    background-size:cover;
    background-position:center;
    position:relative;
    top:0px;
    left:0px;
    height:110vh;
    width:100vw;
    z-index:1;
    height: 110vmin;
    overflow: hidden;

}

#homepage-header{
    width: 40%;
    position:relative;
    margin:auto;
    top:18rem;
    text-align: center;
    color:white;
    height: 80vh;
    overflow: hidden;
 
}

#main-nav{
    background-color:rgba(5, 5, 5, 0.486)!important;
    position: absolute;
    z-index: 2;
    width:100%;
}

.nav-link{
    color:white!important;
    border-bottom:1px solid rgb(57, 196, 57);
}

.nav-link:hover{
    color:rgb(57, 196, 57)!important;
}

#homepage-header h1{
    line-height: 150%;
}
.homepage-headline span{
    color:rgb(57, 196, 57);
}


.logo{
    width:150px;
   position:relative;
   margin-top:25px;
   left:0px;

}

.homepage-headline{
    font-size:7vw;
    font-size:6.5vh;
}

.homepageheader-subtext{
    margin:auto;
    font-size:3vw;
    font-size:3vh;
    width:75%;
    margin-top:5em;
}

.dishes-header{
    position:relative;
    top:70%;
    left:5%;
   
}

.ingredients{
    position:relative;
    top:2vh;
    font-size: 2vh;
    width:80%;
    text-align: center;
    left:10%;
    
    
}

#dishes .dish{
    width:25%;
    float: left;
    background-size:cover;
    height:300px;
    background-position:center;
    
  
}

.ingredients span{
    color:rgb(57, 196, 57);
    font-size:20pt;
}

#dishes .dish>div{
    position: relative;
    background: black;
    color: #fff;
    opacity: 0;
    transition: opacity .5s;
    transition-duration: 1.5s;
    display: table;
    height:300px;

}

#choose{
    position: relative;
    background: black;
    color: #fff;
    opacity: 0;
    transition: opacity .5s;
    transition-duration: 1.5s;
    display: table;
    height:300px;

}

#dishes .dish:hover > div {
	opacity: 0.7;
}



.dish1{
    background-image:url("../images/dish1.jpg");
    width:25%;
}



.dish2{
    background-image:url("../images/dish2.jpg");
    width:25%;
}

.dish3{

    background-image:url("../images/dish3.jpg");
    width:25%;
}

.dish4{
    background-image:url("../images/dish4.jpg");
    width:25%;
}

.dish5{
    background-image:url("../images/dish5.jpg");
    width:25%;
}

.dish6{
    background-image:url("../images/dish6.jpg");
    width:25%;
}

.dish7{
    background-image:url("../images/dish7.jpg");
    width:25%;
}

.dish8{
    background-image:url("../images/dish8.jpg");
    width:25%;

}

#dishes .dish:nth-child(8n+2)>div,
#dishes .dish:nth-child(8n+4)>div,
#dishes .dish:nth-child(8n+5)>div,
#dishes .dish:nth-child(8n+7)>div{
    background: white;
    color:black;
}

.reviews.left{
    width:33%;
}

.left .logo{
    left:50%;
    top:50px;
}

.reviews.right{
    width:67%;
}

.reviews{
    float:left;
    height:250px;
}

#show-reviews{
    display: table;
    width:70%;
    position: relative;
    left:10%;
    height:250px;

}

#show-reviews h1{
    font-size:22pt;
    color:rgb(57, 196, 57);
    margin:auto;
    position: relative;
    top:50px; 
}

#show-reviews p{
    font-size:14pt;
    margin:auto;
    position: relative;
    padding-top:25px;
    top:50px;
}

.location{
    padding-top:25px;
    /* background-color:rgba(5, 5, 5); */
    color:white;
    text-align: center;
    padding-bottom:25px;
    clear: both;
    background-image: linear-gradient(rgba(57,196, 57, 0.9), rgba(0,0,0,0.9)),url("../images/skyline.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
    position:relative;
    overflow: hidden;
    
}

