body, html{
    margin-top:-10px;
    font-family: 'Julius Sans One', sans-serif;
}

.homepage-landing{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/group-1.jpg");
    background-size:cover;
    background-position:center;
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    z-index:1;

}

#homepage-header{
    width:30%;
    position:relative;
    left:33%;
    top:20rem;
    text-align: center;
    color:white;
    height:100vh;
    font-family: 'Julius Sans One', sans-serif;
}

#main-nav{
    background-color:rgba(255, 255, 255, 0.5)!important;
    position: absolute;
    z-index: 2;
    width:100%;
}

#homepage-header h1{
    line-height: 150%;
}
.homepage-headline span{
    color:rgb(57, 196, 57);
}
#logo{
    width:150px;
   position:relative;

}

.homepage-headline{
    font-size:5vh;
}

.homepageheader-subtext{
    font-size:2vh;
}

.dishes-header{
    position:relative;
    top:70%;
}

.ingredients{
    position:relative;
    top:0px;
    font-size: 2vh;
    
}

#dishes .dish{
    width:25%;
    float: left;
    background-size:cover;
    background-position:center;
    height:25rem;
    color:orange;
}

#dishes .dish>div{
    position: relative;
    height: 100%;
    background: black;
    color: #fff;
    opacity: 0;
    transition: opacity .5s;
    display: table;
    height:25rem;

}

#dishes .dish:hover > div {
	opacity: 0.7;
}


.dish1{
    background-image:url("../images/dish1.jpg");
    width:25%;
}



.dish2{
    background-image:url("../images/dish2.jpg");
    width:25%;
}

.dish3{

    background-image:url("../images/dish3.jpg");
    width:25%;
}

.dish4{
    background-image:url("../images/dish4.jpg");
    width:25%;
}

.dish5{
    background-image:url("../images/dish5.jpg");
    width:25%;
}

.dish6{
    background-image:url("../images/dish6.jpg");
    width:25%;
}

.dish7{
    background-image:url("../images/dish7.jpg");
    width:25%;
}

.dish8{
    background-image:url("../images/dish8.jpg");
    width:25%;

}

#dishes .dish:nth-child(8n+2)>div,
#dishes .dish:nth-child(8n+4)>div,
#dishes .dish:nth-child(8n+5)>div,
#dishes .dish:nth-child(8n+7)>div{
    background: white;
    color:black;
}


.reviews{
    position:relative;
    left:10%;
    width:80%;
    float: left;
    clear: both;
}

.carousel-item h1, p{
    position: absolute;
    top:50%;
    left:30%;
    z-index: 2;
    width:40%;
    font-family: 'Julius Sans One', sans-serif;

}

.carousel-item h1{
    position: absolute;
    top:25%;
}

.location{
    background-color:rgb(61, 36, 36);
    color:white;
    text-align: center;
    position:relative;
    font-family: 'Julius Sans One', sans-serif;
    clear: both;
  
}