body, html{
    margin-top:-10px;
    font-family: 'Julius Sans One', sans-serif;
}

.homepage-landing{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/group-1.jpg");
    background-size:cover;
    background-position:center;
    position:relative;
    top:0px;
    left:0px;
    height:110vh;
    width:100vw;
    z-index:1;
    height: 110vmin;
    overflow: hidden;

}

#homepage-header{
    width: 40%;
    position:relative;
    margin:auto;
    top:18rem;
    text-align: center;
    color:white;
    background-color:red;
    height: 80vh;
    overflow: hidden;
 
}

#main-nav{
    background-color:rgba(255, 255, 255, 0.5)!important;
    position: absolute;
    z-index: 2;
    width:100%;
}

#homepage-header h1{
    line-height: 150%;
}
.homepage-headline span{
    color:rgb(57, 196, 57);
}
.logo{
    width:150px;
   position:relative;

}

.homepage-headline{
    font-size:3vw;
}

.homepageheader-subtext{
    margin:auto;
    font-size:14pt;
    width:75%;
    margin-top:5em;
}

.dishes-header{
    position:relative;
    top:70%;
    left:5%;
}

.ingredients{
    position:relative;
    top:2vh;
    font-size: 2vh;
    width:80%;
    text-align: center;
    left:10%;
    
}

#dishes .dish{
    width:25%;
    float: left;
    background-size:cover;
    height:300px;
    background-position:center;
    
  
}

.ingredients span{
    color:rgb(57, 196, 57);
    font-size:20pt;
}

#dishes .dish>div{
    position: relative;
    background: black;
    color: #fff;
    opacity: 0;
    transition: opacity .5s;
    display: table;
    height:300px;

}

#dishes .dish:hover > div {
	opacity: 0.7;
}


.dish1{
    background-image:url("../images/dish1.jpg");
    width:25%;
}



.dish2{
    background-image:url("../images/dish2.jpg");
    width:25%;
}

.dish3{

    background-image:url("../images/dish3.jpg");
    width:25%;
}

.dish4{
    background-image:url("../images/dish4.jpg");
    width:25%;
}

.dish5{
    background-image:url("../images/dish5.jpg");
    width:25%;
}

.dish6{
    background-image:url("../images/dish6.jpg");
    width:25%;
}

.dish7{
    background-image:url("../images/dish7.jpg");
    width:25%;
}

.dish8{
    background-image:url("../images/dish8.jpg");
    width:25%;

}

#dishes .dish:nth-child(8n+2)>div,
#dishes .dish:nth-child(8n+4)>div,
#dishes .dish:nth-child(8n+5)>div,
#dishes .dish:nth-child(8n+7)>div{
    background: white;
    color:black;
}




.reviews{
    float:left;
    height:35vh;

}

.reviews.left{
    width:33%;
}

.left .logo{
    left:50%;
    top:2vh;
}

.reviews.right{
    width:67%;
}

#show-reviews{
    width:70%;
    position: relative;
    left:10%;

}

#show-reviews h1{
    font-size:3em;
    color:rgb(57, 196, 57);
}

#show-reviews p{
    font-size:1em;
    padding-bottom:10px;
}

.location{
    padding-top:3vh;
    background-color:rgb(61, 36, 36);
    color:white;
    text-align: center;
    padding-bottom:3vh;
    clear: both;
    
}

